.breadcrumbs,
.breadcrumbs-title {
  float: left;
}

.breadcrumbs {
  font-size: 2.5em;
  color: #6099C0;
}

.content-paragraphs {
  width: 50%;
  float: left;
}

.content-picture {
  width: 40%;
  float: right;
}

.content-picture img {
  width: 100%;
}

.member {
  margin-bottom: 100px;
}

.member-picture {
  display: block;
  width: 100%;
}
