section.intro {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 150px;
}

section.intro h2 {
  margin-bottom: 1em;
}

section.intro p {
  font-size: 1.5em;
}

.article-image {
  width: 100%;
}

.read-more {
  color: #74C9D3;
}
