.top-navigation {
  padding: 0px 20px;
  font-size: 1.1em;
  line-height: 3em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media(min-width: 768px) {
  .top-navigation {
    padding: 0px 150px;
  }
}

.top-navigation > li {
  margin-right: 30px;
  position: relative;
}
.top-navigation > li:last-child {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}

.top-navigation-submenu {
  display: none;
  position: absolute;
  top: 3em;
  background: rgba(255, 255, 255, .95);
  z-index: 2;
}

.top-navigation-submenu li {
  border-bottom: 3px solid #f1f1f1;
  white-space: nowrap;
  padding: 0 1em;
}
.top-navigation-submenu li:hover,
.top-navigation-submenu li:active,
.top-navigation-submenu li:focus {
  border-bottom-color: #e8e8e8;
}

@keyframes toggleSubMenu {
  from { opacity: 0; }
  to { opacity: 1; }
}

.top-navigation > li:hover .top-navigation-submenu,
.top-navigation > li:active .top-navigation-submenu,
.top-navigation > li:focus .top-navigation-submenu {
  display: block;
  animation-name: toggleSubMenu;
  animation-duration: 0.2s;
}
