.header {
  background: url('../assets/bridge-blue.jpg') no-repeat center -300px fixed;
  background-size: cover;
  overflow: auto;
  padding: 50px 150px;
}

.hbp-logo {
  display: block;
  margin-bottom: 45px;
}

.hbp-logo img {
  width: 220px;
}

.website-name {
  font-size: 3.1em;
  margin-bottom: 45px;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
}

.tag-line {
  font-size:1.5em;
  margin-bottom: 145px;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
}

.hbp-rainbow-color {
  width: 12.5%;
  height: 3px;
  float: left;
}

.top-navigation {
  padding: 25px 150px;
  font-size: 0.9em;
  line-height: 3em;
}

.top-navigation > li {
  margin-right: 30px;
  position: relative;
}

.top-navigation-submenu {
  display: none;
  position: absolute;
}

@keyframes toggleSubMenu {
  from { opacity: 0; }
  to { opacity: 1; }
}

.top-navigation > li:hover .top-navigation-submenu {
  display: block;
  animation-name: toggleLevel2;
  animation-duration: 0.2s;
}

.button {
  display: block;
  background-color: #6099C0;
  color: white;
  border-radius: 0.2em;
  line-height: 1em;
  padding: 0.8em 1.4em;
}

.button:hover,
.button:active,
.button:focus {
  color: white;
  background-color: #145C89;
}

.button .secondary-text {
  font-size: 0.7em;
}
