/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../fonts/roboto-v16-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v16-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v16-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body, ul, li, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  font-weight: 300;
  line-height: 2.2em;
  color: #145C89;
}

h1, h2, h3, h4, strong {
  font-weight: 500;
}

h1 {
  font-weight: 300;
  font-size: 2.5em;
  margin-bottom: 2em;
}

h2 {
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 1em;
}

section {
  margin-bottom: 3em;
}

p {
  margin-bottom: 1.6em;
}

li {
  list-style: none;
}

a {
  color: #6099C0;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #145C89;
  text-shadow:0px 0px 1px #145C89;
}

.content {
  padding: 150px;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.hidden {
  display: none;
}

.large {
  font-size: 2em;
}

.medium {
  font-size: 1.5em;
}

.centered {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.clear::after {
  content: '';
  display: table;
  clear: both;
}

/* Custom bullets are a square with a small border-radius */
.bullet::before {
  content: '';
  background-color: #6099C0;
  display: inline-block;
  vertical-align: middle;
  height: 0.9em;
  width: 0.9em;
  margin-right: 1em;
  border-radius: 0.2em;
}

.bullet.hoverable:hover::before,
.bullet.hoverable:active::before,
.bullet.hoverable:focus::before {
  background-color: #145C89;
}

.bullet-outline::before {
  background-color: transparent;
  border: 2px solid;
}

/* Colors (borders) */
.border-red,
.bullet-border-red::before {
  border-color: #EF5450;
}
.border-orange,
.bullet-border-orange::before {
  border-color: #F47716;
}
.border-yellow,
.bullet-border-yellow::before {
  border-color: #FBB535;
}
.border-light-yellow,
.bullet-bg-light-yellow::before {
  border-color: #FBCB3F;
}
.border-blue,
.bullet-border-blue::before {
  border-color: #74C9D3;
}
.border-half-baked,
.bullet-border-half-baked::before {
  border-color: #8FCAD2;
}
.border-blue-dark,
.bullet-border-blue-dark::before {
  border-color: #6EB5CC;
}
.border-darker,
.bullet-border-darker::before {
  border-color: #68A6CF;
}
.border-horizon,
.bullet-border-horizon::before {
  border-color: #588EA2;
}


/* Bullet colors (backgrounds) */
.bg-red,
.bullet-bg-red::before {
  background-color: #EF5450;
}
.bg-orange,
.bullet-bg-orange::before {
  background-color: #F47716;
}
.bg-yellow,
.bullet-bg-yellow::before {
  background-color: #FBB535;
}
.bg-yellow,
.bullet-bg-light-yellow::before {
  background-color: #FBCB3F;
}
.bg-blue,
.bullet-bg-blue::before {
  background-color: #33AABB;
}
.bg-half-baked,
.bullet-bg-half-baked::before {
  background-color: #2D8EB3;
}
.bg-blue-dark,
.bullet-bg-blue-dark::before {
  background-color: #2070A8;
}
.bg-blue-darker,
.bullet-bg-blue-darker::before {
  background-color: #164E75;
}
.bg-horizon,
.bullet-bg-horizon::before {
  background-color: #588EA2;
}

/* Columns */
.columns .item {
  display: block;
  float: left;
}

.three.columns .item {
  width: 30%;
  margin-right: 3%;
}

.four.columns .item {
  width: 20%;
  margin-right: 3%;
}
